* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: antiquewhite;
    height: 55px;
}

.cont {
    border: 2px;
    border-color: beige;
    padding: 34px;
    margin: 12px;
}

.box1 {
    background-color: aqua;
    padding: 15px;
    margin: 10px;
    border: 2px;
    border-color: beige;

}
.box1 {
    background-color: cyan;
    padding: 15px;
    margin: 10px;
    border: 2px;
    border-color: beige;
    float: left;

}