*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: rgb(0, 0, 0); 
    color: white; */
}

.left{
    width: 25vw;
    padding: 5px;
}

.library{
    /* background-color: rgba(39, 39, 39, 0.903);
    border-radius: 7px; */
    margin: 4px;
    padding: 24px;
    
}
.right{
    width: 75vw;
    /* background-color: rgba(39, 39, 39, 0.903); */
    border-radius: 7px;
}
.logo{
    margin: 2px;
    padding: 6px;
}
.home{

}
.home ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    font-family: cursive;
    padding-top: 14px;
    padding-left: 10px;
}
