
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: rgb(0, 0, 0); 
    color: white;
}

.left{
    width: 25vw;
    padding: 5px;
}

.library{
    /* background-color: rgba(39, 39, 39, 0.903);
    border-radius: 7px; */
    margin: 4px;
    padding: 24px;
    
}
.right{
    width: 75vw;
    /* background-color: rgba(39, 39, 39, 0.903); */
    border-radius: 7px;

}
.logo{
    margin: 2px;
    padding: 6px;
}
.home{

}
.home ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    font-family: Roboto;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 10px;
}

.heading{
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    padding-top: 14px;
    font-size: 12px;
    font-family: Roboto;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap:12px;
    position: absolute;
    bottom: 0;
    padding: 24px;
}
.footer a{
    color: gray;

}
.library{
    min-height: 75vh;
    position: relative;
}
.headder{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.681);
}
.headder > *{
    padding: 16px;
}
.right{
    
    margin-top: 11px;
    margin-bottom: 9px;
    margin-right: 10px;

}
.playlist{
    padding: 6px;
    font-family: Roboto;
}
.playlist h1{
    margin-left: 30px;
}
.playlist .card{
    width: 175px;
    height: 250px;
    background-color: #242424;
    padding: 10px;
    border-radius: 6px;
    border: 2px;
    position: relative;
}
.card > *{
    padding-top: 6px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}
.card h2{
    font-size: large;
    font-weight: bold;
}
.card p{
    width: 170px;
    height: 30px;
    font-size: small;
    color: grey;
    overflow: hidden;
}
.jj{
    text-overflow: ellipsis;

}
.cardcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 25px;
    overflow-y: scroll;
    max-height: 65vh;
}
.play{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 130px;
    right: -6px;
    opacity: 0;
    transition: all 1s ease-out;
}
.log_btn{
    font-family: Roboto;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    outline: none;
    padding: 5px 15px;
    margin: 5px 15px;
    cursor: pointer;
    font-size: 18px;
    }

.log_btn:hover{
    font-size: 19px;
    font-weight: bolder;
}
.Sign_btn{
    background-color:  rgba(0, 0, 0, 0.681);
    color: gray;
    font-family: Roboto;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 24px;
    border-color: white;
    cursor: pointer;
    padding: 4px 15px;
    margin: 4px 15px;
    font-size: 18px;
}
.Sign_btn:hover{
    font-size: 19px;
    color: white;
}